body {
  background-color: gainsboro;
}
.calc
{
  text-align: center;
  margin-top: 200px;
  background-color: antiquewhite;
  margin-left: 400px;
  margin-right: 400px;
}

button
{
  margin-top: 5px;
  margin-left: 10px;
  background-color: blue;
  color: antiquewhite;
}
.grid
{
  display: inline-grid;
  grid-template-columns: 60px 60px 60px 40px;
    margin-left: -10px;
}
.left
{
  margin-bottom: 10px;
}
#clear
{
  width: 30px;
}